img {
    width: 200px;
    height: 300px;
    object-fit: cover
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(173, 208, 255);
}

#nameDisplay {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

#name {
    font-weight: bold;
    display:inline;
    margin-right: 10px;
}
#age {
    display:inline;
}

#outer {
    text-align:center;
}
#center {
    display:inline-block;
    border: solid black;
    padding: 15px;
    margin: 20px;
    border-radius: 12px;
    background-color: white;
}

#no {
    background-color: rgb(216, 93, 63);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    margin: 10px;
    height: 100px;
    width: 100px;
    outline: none;
}
#no:hover{
    background-color:   rgb(250, 101, 101);
}
#no:active{
    background-color:  rgb(207, 15, 15);
}

#yes {
    background-color: rgb(59, 182, 63);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    margin: 10px;
    height: 100px;
    width: 100px;
    outline: none;
    -webkit-animation-duration: 0.4s;
    transition-duration: 0.4s;
}
#yes:hover{
    background-color:   rgb(61, 226, 66);
}
#yes:active{
    background-color:  rgb(42, 128, 45);
}


#super {
    background-color: rgb(72, 95, 226);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    margin: 10px;
    height: 100px;
    width: 100px;
    outline: none;
}
#super:hover{
    background-color:   rgb(116, 135, 243);
}
#super:active{
    background-color:  rgb(48, 71, 199);
}


li {
    display: inline;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 51px;
}